@font-face {
	font-family: 'nissan_brandregular';
	src: url(../../assets/fonts/nissan_brand_regular-webfont.woff2) format('woff2'),
	url(../../assets/fonts/nissan_brand_regular-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}